 img{
    border: blue 2px solid;
    flex-direction: column;
    float: left;
    margin-top: 4rem;
    margin-right: 3rem;
    padding: .5rem;
    width: 180px;
    height: 240px;
    border-radius: 20px;
}
.data{
    border: red 2px solid;
    margin-top: 4rem;
    text-align: center;
    color: aliceblue;
    font-size: large;
}

.flex-tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}

.flex-tarjeta .pie-tarjeta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #c5b4d4;
    font-size: 16px;
    padding-bottom: 6rem;

}

.pie-tarjeta{
    padding-top: 1.5rem;
    padding-left: 5rem;
    text-align: right;
    font-weight: 900;

}


.formato-tarjeta{
    background-color: #A8A8A8;
    background-image: url('../assets/img/fondo1.jpg');
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    padding: 1rem;
    font-weight: 900;
 /*    border: 2px red solid; */
    width:610px;
    height: 415px;
    
    
}
div, button{
    padding: 5px .7rem;
    border-radius: 5px;
    margin-right:10px;
    min-width: 100px;
    /* max-width: max-content; */
}

.fondo-aparte{
    border: 10px solid #5F0E58;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #535858;
}
    
.botones{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 10vh;
}

.botones .editar {
    background-color: #4e1a7e;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.botones .editar:hover {
    background-color: #7826c5;
    font-weight: 700;
}

.botones .eliminar {
    background-color: #850c0c;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.botones .eliminar:hover {
    background-color: #cf1616;
    font-weight: 700;
}