.container{
    margin: 2rem;
    display: flex;
    justify-content: center;
    background-color: #A8A8A8;
  
    
}

.header{
    font-size: x-large;
    text-transform: uppercase;
    color: #360328;
}

.tarjeta{
   /*  border: 10px white solid; */
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

