.container, .de .iz{
    background-color: #4c504e;
    display: flex;
    gap: 1rem;
}
@media(max-width:990px){
    .container, .de .iz{
       font-size: small;
       flex-direction: column;
       
    }
}
@media(max-width:650px){
    .container, .de .iz{
        background-color: aqua;
        align-self: center;
        width: auto;
    }
}
.de{
    margin: 0 auto;
}