.container{
        display: flex;
        gap: 1rem;       
        background-color: #4c504e;
        margin: 0 auto;
      /*   border: 2px red solid; */
        padding: .5rem;
        justify-content: space-around;    
}

.de .iz{
    background-color: #4c504e;
    margin: 0 auto;
   /*  border: 2px red solid; */
    padding: .5rem;
    justify-items: flex-end;
}
@media(max-width:990px){
    .container{
        background-color: #4c504e;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width:500px;
    }
}
 @media(min-width:650px){
     .de .iz{
        box-sizing: content-box;
        width:500px;
    }   
} 

